.section-header {
  height: 100vh;
  position: relative;
  background-image: linear-gradient(to right, $color-primary 0%, $color-primary 50%, $color-white 50%);
}

.section-about {
  height: 100vh;
  padding: 10rem 3rem 5rem 3rem;
  background-color: $color-white;
}