[class^="section-"] {
  overflow: hidden;
}

.section-header {
  height: 100vh;
  position: relative;
  background-image: linear-gradient(to right, $color-primary 0%, $color-primary 50%, $color-white 50%);
}

.section-about {
  min-height: 100vh;
  padding: 10rem 3rem 5rem 3rem;
  background-color: transparent;
  position: relative;
}

.section-technical {
  background-color: $color-primary;
  position: relative;
  min-height: 100vh;
  clip-path: polygon(
    0 5rem,
    5% 0,
    10% 5rem,
    15% 0,
    20% 5rem,
    25% 0,
    30% 5rem,
    35% 0,
    40% 5rem,
    45% 0,
    50% 5rem,
    55% 0,
    60% 5rem,
    65% 0,
    70% 5rem,
    75% 0,
    80% 5rem,
    85% 0,
    90% 5rem,
    95% 0,
    100% 5rem,
    100% 100%,
    0 100%
  );

  &__content {
    background-color: transparent;
    position: relative;
    padding: 10rem 3rem 5rem 3rem;
  }

  &__ribbon {
    transform: rotateZ(45deg) translateX(15rem) translateY(-24rem);
    position: absolute;
    right: -1rem;
    width: 100rem;
    height: 10rem;
    float: right;
    background-color: $color-black;
  }

  &__ribbon-text {
    transform: rotateZ(45deg) translateX(10rem) translateY(-5rem);
    position: absolute;
    right: 14rem;
    font-size: 3rem;
    font-family: "BigJohn";
    color: $color-white;
    letter-spacing: 0.2rem;
    background-color: transparent;
  }
}

.footer {
  height: 33vh;
  width: 100vw;
  background-color: rgba($color-black, 0.9);
  color: $color-primary;
  position: relative;

  &__bottom {
    height: 50%;
    margin: 0 2rem;
    transform: translateY(100%);
    text-align: center;
  }

  &__contact {
    border-top: 1px solid currentColor;
    padding-top: 2rem;
    display: inline-block;
  }

  &__link {
    color: inherit;
    text-decoration: none;
    position: relative;
  }

  &__icon {
    fill: currentColor;
    height: 5rem;
    width: 5rem;
    display: inline-block;
    margin: 1rem 5rem;

    &:hover {
      filter: drop-shadow(0 0 .5rem rgba($color-white, .8));
    }
  }
}
