.bio {
  font-family: Aleo;
  font-weight: bold;
  position: relative;

  &__paragraph {
    font-size: 2rem;
    line-height: 200%;
    display: inline;
    color: $color-secondary-dark;
  }

  &__img {
    height: 20rem;
    width: 20rem;
    shape-outside: content-box;
    margin-left: -5rem;
  }

  &__tag {
    position: absolute;
    top: 0;
    right: 0;
    background-image: linear-gradient(to top right, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8));
    font-size: 4rem;
    color: $color-white;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    transform: translate(40%, -50%) rotateZ(20deg);
    box-shadow: 0rem 0rem 3rem rgba($color-black, 0.5);
  }
}
