.card {
  height: 50rem;
  width: 40rem;
  perspective: 150rem;
  position: relative;
  @include respond(tab-port) {
    width: 60rem;
    height: 70rem;
  }

  @include respond(phone) {
    width: 90vw;
  }

  &__front,
  &__back {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba($color-black, .7);
  }

  &__front {
    background-color: $color-white;
  }

  &__back {
    z-index: -1;
    transform: rotateY(-180deg);
    background-color: $color-black;
  }

  &__img {
    max-width: 100%;
    max-height: 100%;
  }

  &__upper {
    height: 40%;
    width: 100%;
    text-align: center;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @for $i from 1 through length($card-images) {
      $image: nth($card-images, $i );
      &--#{$i} {
        background-image: url(#{$image});
      }
    }

  }

  &__lower {
    width: 100%;
  }

  &__checkbox {
    display: none;
  }

  &__checkbox:checked ~ &__front {
    transform: rotateY(180deg);
  }

  &__checkbox:checked ~ &__back {
    transform: rotateY(0);
  }

  &__title {
    display: block;
    text-align: center;
    font-size: 4rem;
    margin: 1rem 0rem;
    @include respond(tab-port) {
      font-size: 5rem;
    }

    &--left-primary {
      background-image: linear-gradient(135deg, $color-white 0%, $color-white 50%, $color-primary 50%);
      h3 {
        color: transparent;
        background-image: linear-gradient(135deg, $color-primary 0%, $color-primary 50%, $color-white 50%);
        background-clip: text;
        -webkit-background-clip: text;
      }
    }

    &--right-primary {
      background-image: linear-gradient(45deg, $color-primary 0%, $color-primary 50%, $color-white 50%);
      h3 {
        color: transparent;
        background-image: linear-gradient(45deg, $color-white 0%, $color-white 50%, $color-primary 50%);
        background-clip: text;
        -webkit-background-clip: text;
      }
    }

    &--left-black {
      background-image: linear-gradient(135deg, $color-white 0%, $color-white 50%, $color-black 50%);
      h3 {
        color: transparent;
        background-image: linear-gradient(135deg, $color-black 0%, $color-black 50%, $color-white 50%);
        background-clip: text;
        -webkit-background-clip: text;
      }
    }

    &--right-black {
      background-image: linear-gradient(45deg, $color-black 0%, $color-black 50%, $color-white 50%);
      h3 {
        color: transparent;
        background-image: linear-gradient(45deg, $color-white 0%, $color-white 50%, $color-black 50%);
        background-clip: text;
        -webkit-background-clip: text;
      }
    }

    &--john {
      font-family: "BigJohn";
    }

    &--joe {
      font-family: "SlimJoe";
    }
  }

  &__descr {
    @include font-md;
    @include respond(tab-port) {
      @include font-lg;
    }
    line-height: 125%;
    display: inline-block;
    padding: 0.5rem 0.3rem;
    text-align: center;
    font-weight: bold;

    @include respond(tab-port) {
      padding: 1rem;
    }
  }

  &__footer {
    position: absolute;
    bottom: 2.5rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
    @include respond(tab-port) {
      font-size: 4.5rem;
    }
  }

  &__paragraph {
    color: $color-secondary-light;
    border-radius: 1rem;
    line-height: 150%;
    padding: 0.5rem;
    @include font-sm;
    @include respond(tab-port) {
      @include font-md;
      padding: 1.5rem;
    }
  }
}
