.composition {
  position: relative;

  @include respond(tab-land) {
    width: 100%;
    //We are specifying margins instead of a width to avoid triggering the hover effect
    //outside the images
    margin-top: 30rem;
  }
  

  &__image {
    position: absolute;
    width: 36rem;
    height: 24rem;
    border-radius: 1rem;
    box-shadow: 1rem 1rem 5rem rgba($color-black, 0.6);
    transition: all 0.2s;
    overflow: hidden;
    background-blend-mode: luminosity;

    @include respond(img-break) {
      width: 32rem;
      height: 21.3333rem;
    }

    @include respond(tab-land) {
      width: 34.5rem;
      height: 23rem;
    }

    @include respond(tab-port) {
      width: 30rem;
      height: 20rem;
    }

    @include respond(phone) {
      width: 21rem;
      height: 14rem;
    }
    
  }

  &__image:hover &__descr {
    bottom: 0;
  }
  
  &__descr {
    position: absolute;
    bottom: -100%;
    background-color: rgba($color-primary, 0.8);
    color: $color-secondary-light;
    font-weight: bold;
    padding: 0.3rem 1rem;
    transition: all 0.2s;
    @include font-xs;
  }

  @for $i from 1 through length($images) {
    $image: nth($images, $i);

    &:hover &__image--#{$i}:not(:hover) {
      transform: scale(0.95);
      background-image: url($image), radial-gradient($color-secondary, $color-secondary-light);
      @include respond(tab-land) {
        @if $i == 1 {
          transform: scale(0.95) translateX(-105%);
        }
        @if $i == 2 {
          transform: scale(0.95) translateX(-50%);
        }
        @if $i == 3 {
          transform: scale(0.95) translateX(5%);
        }
      }
    }

    &__image--#{$i} {
      @if $i==1 {
        top: 9.5rem;
        left: 10rem;
        @include respond(img-break) {
          top: 12rem;
          left: 3rem;
        }

        @include respond(tab-land) {
          top: -28rem;
          left: 50%;
          transform: translateX(-105%);
        }
        &:hover {
          transform: scale(1.05) translateX(0);
          z-index: 2;
          @include respond(tab-land) {
            transform: scale(1.05) translateX(-105%);
          }
        }
      }

      @if $i==2 {
        top: 26rem;
        left: 20rem;
        z-index: 1;
        @include respond(img-break) {
          top: 28.5rem;
          left: 11rem;
        }
        @include respond(tab-land) {
          top: -27rem;
          left: 50%;
          transform: translateX(-50%);
        }
        &:hover {
          transform: scale(1.05) translateX(0);
          z-index: 2;
          @include respond(tab-land) {
            transform: scale(1.05) translateX(-50%);
          }
        }
      }

      @if $i==3 {
        top: 15rem;
        left: 35rem;
        @include respond(img-break) {
          top: 17.5rem;
          left: 24rem; 
        }
        @include respond(tab-land) {
          top: -28rem;
          left: 50%;
          transform: translateX(5%);
        }
        &:hover {
          transform: scale(1.05) translateX(0);
          z-index: 2;
          @include respond(tab-land) {
            transform: scale(1.05) translateX(0);
          }
        }
      }

      background-image: url($image);
      background-size: contain;
    }
  }
}
