.composition {
  position: relative;

  &__image {
    position: absolute;
    width: 36rem;
    height: 24rem;
    border-radius: 1rem;
    box-shadow: 1rem 1rem 5rem rgba($color-black, 0.6);
    transition: all 0.2s;
    overflow: hidden;
    background-blend-mode: luminosity;

    &:hover {
      transform: scale(1.05);
      z-index: 2;
    }
  }

  &__image:hover &__descr {
    bottom: 0;
  }

  &__descr {
    position: absolute;
    bottom: -100%;
    background-color: rgba($color-primary, 0.8);
    color: $color-secondary-light;
    font-weight: bold;
    padding: 0.3rem 1rem;
    transition: all 0.2s;
    @include font-xs;
  }

  @for $i from 1 through length($images) {
    $image: nth($images, $i);

    &:hover &__image--#{$i}:not(:hover) {
      transform: scale(0.95);
      background-image: url($image), radial-gradient($color-secondary, $color-secondary-light);
    }

    &__image--#{$i} {
      @if $i==1 {
        top: 3.5rem;
        left: 10rem;
      }

      @if $i==2 {
        top: 20rem;
        left: 20rem;
        z-index: 1;
      }

      @if $i==3 {
        top: 9rem;
        left: 35rem;
      }

      background-image: url($image);
      background-size: contain;
    }
  }

  &__icon {
    fill: currentColor;
    width: 15%;
    position: absolute;
    z-index: 2;
    top: -6rem;
    color: rgba($color-primary-dark, 0.5);

    &--right {
      right: -1rem;
    }

    &--left {
      left: -1rem;
    }
  }

  &__terminal {
    top: 48rem;
    width: 100%;
    position: absolute;
    font-size: 1.5rem;
    font-family: Aleo;
    background-color: $color-secondary-light;
    padding: 1rem;
    border-radius: 1rem;
    color: $color-primary-dark;

    &__left {
      display: inline;
      font-weight: bold;
      &::after {
        display: inline;
        font-weight: bold;
        color: rgba($color-primary, 0.7);
      }
    }

    &__right {
      display: inline-block;
    }

    &__text {
      display: block;
    }
  }

  &__image--1:hover ~ &__terminal > &__terminal__left::after {
    content: " csulb";
  }

  &__image--2:hover ~ &__terminal > &__terminal__left::after {
    content: " los_angeles";
  }

  &__image--3:hover ~ &__terminal > &__terminal__left::after {
    content: " mayan";
  }
}
