.header {
    position: absolute;
    top: 50%;
    width: 100%;
    @include clearfix;

    &__name {
        font-size: 9rem;
        display: block;
        position: absolute;

        &--left {
            font-family: 'BigJohn';
            color: $color-primary;
            background-color: $color-secondary;
            right: 50%;
            transform: translateY(-100%);
        }

        &--right {
            font-family: 'SlimJoe';
            color: $color-secondary;
            background-color: $color-primary;
            left: 50%;
        }
    }
}