.header {
  position: absolute;
  top: 50%;
  width: 100%;
  @include clearfix;

  &__name {
    font-size: $header-font-size;
    display: block;
    position: absolute;
    perspective: 150rem;
    backface-visibility: hidden;
    animation: 0.8s linear 0.3s backwards;

    &--left {
      font-family: "BigJohn";
      color: $color-primary;
      background-color: $color-secondary;
      right: 50%;
      transform-origin: 100% 50%;
      transform: translateY(-100%);
      animation-name: rotate-in-from-right;
    }

    &--right {
      font-family: "SlimJoe";
      color: $color-secondary;
      background-color: $color-primary;
      //THis is a fix because there is a 1px gap, sometimes, between the element and the true middle of the view
      left: calc(50% - 1px);
      transform-origin: 0% 50%;
      animation-name: rotate-in-from-left;
    }
  }

  $this: &;
  &__title {
    position: absolute;
    right: 50%;
    transform: translateY(25rem) translateX(50%);

    #{$this}__career {
      position: absolute;
      font-size: calc(#{$header-font-size}*.7);
      &--left {
        transform: translateX(-100%);
        padding-right: 1rem;
        font-family: 'SlimJoe';
        color: $color-secondary;
      }

      &--right {
        padding-left: 1rem;
        font-family: 'BigJohn';
        color: $color-primary;
      }
    }
  }
}
