.header {
  position: absolute;
  top: 50%;
  width: 100%;
  @include clearfix;

  &__name {
    font-size: 9rem;
    display: block;
    position: absolute;
    perspective: 150rem;
    backface-visibility: hidden;
    animation: .8s linear .3s backwards;

    &--left {
      font-family: "BigJohn";
      color: $color-primary;
      background-color: $color-secondary;
      right: 50%;
      transform-origin: 100% 50%;
      transform: translateY(-100%);
      animation-name: rotate-in-from-right ;
    }

    &--right {
      font-family: "SlimJoe";
      color: $color-secondary;
      background-color: $color-primary;
      left: 50%;
      transform-origin: 0% 50%;
      animation-name: rotate-in-from-left;
    }
  }
}
