.poststamp {
  width: 100%;
  height: auto;
  background-color: $color-white;
  margin: 0 auto;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
  box-shadow: 0 0 1.5rem rgba($color-black, 0.5);

  &__left {
    width: 65%;
    height: 100%;
    float: left;
    padding: 1rem 0rem 1rem 1rem;
    @include respond(poststamp-break) {
      width: 100%;
      padding: 2.5rem;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-primary;
    border-radius: 1rem;

    &--animated {
      animation: open-up forwards 0.75s ease-in-out;
    }
  }

  &__right {
    width: 34%;
    height: 100%;
    position: absolute;
    right: 0;
    background-image: url("../img/code.png");
    filter: contrast(0.7);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    clip-path: polygon(
      100% 0,
      100% 100%,
      0 100%,
      3% 95%,
      1% 90%,
      5% 85%,
      3% 80%,
      7% 75%,
      5% 70%,
      9% 65%,
      7% 60%,
      11% 55%,
      9% 50%,
      13% 45%,
      11% 40%,
      15% 35%,
      13% 30%,
      17% 25%,
      15% 20%,
      19% 15%,
      17% 10%,
      21% 5%,
      19% 0
    );
    transition: box-shadow 0.5s, filter 0.5s;
    border-radius: 0 1rem 1rem 0;
    @include respond(poststamp-break) {
      display: none;
    }
  }


  &:hover &__right {
    filter: contrast(1);
  }

  &__emphasize {
    color: $color-primary;
    font-weight: bold;
    @include font-big;
    transition: all 0.5s;
    display: block;
    line-height: 175%;
    text-decoration: underline;
    text-align: center;
    margin-bottom: .5rem;
  }

  &__content {
    display: inline;
    line-height: 175%;
    color: $color-secondary-dark;
    @include font-md;
  }

  &__link {
    text-decoration: none;
    &:visited,
    &:link {
      color: #ccab15;
    }
    &:hover {
      text-shadow: 0 0 1rem #ccab15;
    }
  }
}
