.title-box {
  display: inline-block;
  overflow: hidden;

  &__title {
    text-align: center;
    overflow: hidden;
    font-family: $primary-font;
    font-size: 6.5rem;
    letter-spacing: 0.5rem;
    display: inline-block;
    color: $color-white;
  }

  &__line {
    margin: 2rem auto;
    width: 25%;

    &--animated {
      animation: expand 0.5s linear $fade-in-animation-delay backwards;
    }
  }

  &__logos {
    text-align: center;
    font-family: $primary-font;
    font-size: 0; //this was set to 0 because space between inline-blocked elements will be rendered as white space
    padding: 1rem 0;
    overflow: hidden;
  }

  &__logo-left {
    opacity: 0;
    display: inline-block;
    color: $color-white;
    clear: none;
    font-size: 6.5rem;
  }

  &__logo-right {
    opacity: 0;
    display: inline-block;
    color: $color-black;
    clear: none;
    font-size: 6.5rem;
  }

  &__animate-right {
    animation: crash-in-right $bump-animation-duration linear calc(#{$fade-in-animation-delay} * 2) forwards,
      drop-down-and-out 4s linear infinite calc(#{$fade-in-animation-delay} * 2 + 4s);
  }

  &__animate-left {
    animation: crash-in-left $bump-animation-duration linear calc(#{$fade-in-animation-delay} * 2) forwards,
      black-and-white 4s linear infinite calc(#{$fade-in-animation-delay} * 2 + 2s);
  }
}
