.title-box {
  display: inline-block;
  overflow: hidden;
  text-align: center;

  &__title {
    overflow: hidden;
    display: inline-block;
    color: $color-white;
    @include font-header;
  }

  &__line {
    margin: 2rem auto;
    width: 25%;

    &--animated {
      animation: expand 0.5s linear backwards;
    }
  }

  &__logos {
    text-align: center;
    font-family: $primary-font;
    font-size: 0; //this was set to 0 because space between inline-blocked elements will be rendered as white space
    padding: 0 3rem 3rem 3rem;
    display: inline-block;
    color: $color-white;
  }

  &__sub {
    display: inline-block;
    color: $color-white;
    clear: none;
    font-size: 6.5rem;
    @include font-header;
    @include respond(tight) {
      font-size: 5.5rem;
    }
  }

  &

  &__animate-right {
    animation: crash-in-right $bump-animation-duration linear;
  }

  &__animate-left {
    animation: crash-in-left $bump-animation-duration linear;
  }
}
