.title-box {
  display: inline-block;
  overflow: hidden;

  &__title {
    text-align: center;
    overflow: hidden;
    font-family: $primary-font;
    font-size: 6.5rem;
    letter-spacing: 0.5rem;
    display: inline-block;
    color: $color-white;
  }

  &__line {
    margin: 2rem auto;
    width: 25%;

    &--animated {
      animation: expand 0.5s linear $fade-in-animation-delay backwards;
    }
  }

  &__logos {
    text-align: center;
    font-family: $primary-font;
    font-size: 6.5rem;
    padding-bottom: 1rem;
  }

  &__logo-left {
    opacity: 0;
    display: inline-block;
    color: $color-white;
  }

  &__logo-right {
    opacity: 0;
    display: inline-block;
    color: $color-black;
  }
}
