@keyframes rotate-in-from-right {
  0% {
    transform: translateY(-100%) rotateY(180deg);
  }

  100% {
    transform: translateY(-100%) rotateY(0deg);
  }
}

@keyframes rotate-in-from-left {
  0% {
    transform: rotateY(-180deg);
  }

  100% {
    transform: rotateY(0deg);
  }
}

@keyframes drop-down {
  0% {
    transform: translateY(-4.5rem) translateX(50%);
    opacity: 0;
  }

  40% {
    opacity: 1;
    transform: translateY(1.5rem) translateX(50%);
  }

  60% {
    transform: translateY(-1rem) translateX(50%);
  }

  80% {
    transform: translateY(0.5rem) translateX(50%);
  }

  100% {
    transform: translateY(0) translateX(50%);
  }
}

@keyframes appear {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  51% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes expand-right {
  from {
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  }

  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes expand-right-no-clip-path {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes expand {
  0% {
    width: 0%;
  }

  100% {
    width: 25%;
  }
}

@keyframes pop-up {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes crash-in-right {
  0% {
    transform: translateX(25rem);
    opacity: 1;
  }

  20% {
    transform: translateX(-5.5rem);
  }

  25% {
    transform: translateY(-2rem);
  }

  30% {
    transform: translateX(3rem) rotateZ(15deg) translateY(0);
  }

  90% {
    transform: translateX(3rem) rotateZ(15deg) translateY(0);
  }

  100% {
    transform: translate(0 0 0);
    opacity: 1;
  }
}

@keyframes crash-in-left {
  0% {
    transform: translateX(-25rem);
    opacity: 1;
  }

  20% {
    transform: translateX(5.5rem);
  }

  25% {
    transform: translateY(-2rem);
  }

  30% {
    transform: translateX(-3rem) rotateZ(-15deg) translateY(0);
  }

  90% {
    transform: translateX(-3rem) rotateZ(-15deg) translateY(0);
  }

  100% {
    transform: translate(0deg 0deg 0deg);
    opacity: 1;
  }
}

@keyframes come-in-left {
  from {
    transform: translateX(-25rem);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes open-up {
  from {
    clip-path: polygon(
      0 0,
      100% 0,
      97% 5%,
      99% 10%,
      95% 15%,
      97% 20%,
      93% 25%,
      95% 30%,
      91% 35%,
      93% 40%,
      89% 45%,
      91% 50%,
      87% 55%,
      89% 60%,
      85% 65%,
      87% 70%,
      83% 75%,
      85% 80%,
      81% 85%,
      83% 90%,
      79% 95%,
      81% 100%,
      0 100%,
      0 0
    );
  }

  to {
    clip-path: polygon(
      0 0,
      0% 0,
      -2% 5%,
       0 10%,
      -4% 15%,
      -2% 20%,
      -6% 25%,
      -4% 30%,
      -8% 35%,
      -6% 40%,
      -10% 45%,
      -8% 50%,
      -12% 55%,
      -10% 60%,
      -14% 65%,
      -12% 70%,
      -16% 75%,
      -14% 80%,
      -18% 85%,
      -16% 90%,
      -20% 95%,
      -18% 100%,
      0 100%,
      0 0
    );
  }
}

@keyframes flip-in {
  from {
    opacity: 0;
    transform: rotateX(90deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}

@keyframes col-fade-in-left {
  from {
    opacity: 0;
    transform: translateX(-3rem);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes col-fade-in-right {
  from {
    opacity: 0;
    transform: translateX(3rem);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fall-down-top {
  from {
    transform: translate(50%, -100rem);
  }

  to {
    transform: translate(50%, -100%);
  }
}

@keyframes fall-down-bottom {
  from {
    transform: translate(-50%, -100rem);
  } to {
    transform: translate(-50%, 0);
  }
}

.col-fade-in-left {
  animation: col-fade-in-left 0.5s ease-out backwards;
}

.col-fade-in-right {
  animation: col-fade-in-right 0.5s ease-out backwards;
}

.pop-up {
  animation: pop-up 0.5s linear backwards;
}

.come-in-left {
  animation: come-in-left backwards 0.25s linear;
}

.flip-in {
  animation: flip-in backwards 0.25s linear;
}

.fade-in {
  animation: fade-in .3s backwards linear;
}