@keyframes rotate-in-from-right {
  0% {
    transform: translateY(-100%) rotateY(180deg);
  }

  100% {
    transform: translateY(-100%) rotateY(0deg);
  }
}

@keyframes rotate-in-from-left {
    0% {
        transform: rotateY(-180deg);
    }

    100% {
        transform: rotateY(0deg);
    }
}