.header-primary {
  @include font-header;
  display: inline-block;

  &--primary {
    color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  }

  &--secondary {
    color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, $color-secondary, $color-secondary-dark);
  }
}

.header-secondary {
  font-family: $primary-font;
  font-size: 5rem;
  color: $color-secondary;
  letter-spacing: 0.1rem;
}

.blinking-text {
  animation: appear 0.9s linear infinite;
}

.link {
  position: relative;
  cursor: pointer;
  transition: all 0.2s;
  color: inherit;
  text-decoration: none;
  display: inline-block;
  &::before {
    content: "";
    position: absolute;
    bottom: .5rem;
    left: 0;
    background-color: rgba($color-primary-dark, 0.7);
    clip-path: polygon(0 90%, 100% 90%, 100% 100%, 0 100%);
    width: 100%;
    height: 100%;
    transition: all 0.2s;
  }

  &:hover {
    color: $color-primary;
    &::before {
      clip-path: polygon(50% 90%, 50% 90%, 50% 100%, 50% 100%);
    }
  }
}

.font-medium {
  font-size: 5rem;
}