.header-primary {
    font-family: Aleo;
    font-size: 6.5rem;
    color: transparent;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    display: inline-block;
}