.header-primary {
  font-family: Aleo;
  font-size: 6.5rem;
  color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  display: inline-block;

  &--primary {
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  }

  &--secondary {
    background-image: linear-gradient(to right, $color-secondary, $color-secondary-dark);
  }
}

.blinking-text {
    animation: appear .9s linear infinite;
}

.link {
  position: relative;
  cursor: pointer;
  transition: all .2s;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba($color-primary-dark, 0.7);
    clip-path: polygon(0 90%, 100% 90%, 100% 100%, 0 100%);
    width: 100%;
    height: 100%;
    transition: all .2s;
  }

  &:hover {
    color: $color-primary;
    &::before {
      clip-path: polygon(50% 90%, 50% 90%, 50% 100%, 50% 100%);
    }
  }
}