.u-italicize {
  font-style: italic;
}

.u-bold {
  font-weight: bold;
}

.u-div-center {
  margin: 0 auto;
}

.u-mb-sm {
  margin-bottom: 2rem;
}
.u-mb {
  margin-bottom: 4rem;
}

.u-mb-big {
  margin-bottom: 6rem;
}

.u-mt-sm {
  margin-top: 2rem;
}

.u-mt {
  margin-top: 4rem;
}

.u-mt-big {
  margin-top: 6rem;
}

.u-mt-xl {
  margin-top: 9rem;
}

.u-mt-xxl {
  margin-top: 12rem;
}

.u-line {
  height: 6px;
  background-image: linear-gradient(to right, rgba($color-primary-dark, 0.6), rgba($color-primary-light, 0.6));
  margin: 0 auto;
  border-radius: 1rem;
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);

  &--animated {
    animation: expand-right 0.5s cubic-bezier(0.6, 0.6, 0.67, 0.03) forwards 1s;
  }
}

.u-color-primary {
  color: $color-primary;
}

.u-inline-block {
  display: inline-block;
}

.hidden {
  opacity: 0;
}

.fade-in {
  animation: fade-in $fade-in-animation-delay linear;
}

.u-hide-overflow {
  overflow: hidden;
}

.pop-up {
  animation: pop-up .5s $fade-in-animation-delay linear forwards;
}

.come-in-left {
  animation: come-in-left forwards .25s .25s linear;
}

.u-move-out {
  transform: translateY(-25rem);
}

.u-flip-in {
  animation: flip-in forwards .25s .75s linear ;
}