.u-italicize {
  font-style: italic;
}

.u-bold {
  font-weight: bold;
}

.u-center {
  text-align: center;
}

.u-mb-sm {
  margin-bottom: 2rem;
}
.u-mb {
  margin-bottom: 4rem;
}

.u-mb-big {
  margin-bottom: 6rem;
}

.u-mt {
  margin-top: 4rem;
}

.u-mt-big {
  margin-top: 6rem;
}

.u-mt-xl {
  margin-top: 9rem;
}

.u-mt-xxl {
  margin-top: 12rem;
}

.u-line {
  height: 6px;
  background-image: linear-gradient(to right, rgba($color-primary-dark, 0.6), rgba($color-primary-light, 0.6));
  margin: 0 auto;
  border-radius: 1rem;

  &--animated {
    animation: expand-right 0.5s cubic-bezier(0.6, 0.6, 0.67, 0.03) backwards $fade-in-animation-delay;
  }
}

.u-inline-block {
  display: inline-block;
}
.appear {
  animation: appear 0.9s infinite linear;
}

.hidden {
  opacity: 0;
}

.fade-in {
  animation: fade-in $fade-in-animation-delay linear;
}