.u-italicize {
  font-style: italic;
}

.u-bold {
  font-weight: bold;
}

.u-center {
  text-align: center;
}

.u-mb-sm {
  margin-bottom: 2rem;
}
.u-mb {
  margin-bottom: 4rem;
}

.u-mb-big {
  margin-bottom: 6rem;
}

.u-mt {
  margin-top: 4rem;
}

.u-mt-big {
  margin-top: 6rem;
}

.u-mt-xl {
  margin-top: 9rem;
}

.u-mt-xxl {
  margin-top: 12rem;
}

.u-line {
  width: 90%;
  height: 1px;
  background-image: radial-gradient(rgba($color-primary-dark, 0.3), rgba($color-primary-light, 0.3));
  margin: 0 auto;
}