@font-face {
    font-family: 'BigJohn';
    src: url('../assets/BigJohn.woff') format('woff'), url('../assets/BigJohn.ttf') format('truetype');
}

@font-face {
    font-family: 'SlimJoe';
    src: url('../assets/SlimJoe.woff') format('woff'), url('../assets/SlimJoe.ttf') format('truetype');
}

@font-face {
    font-family: 'Aleo';
    src: url('../assets/aleo-regular-webfont.woff') format('woff'), url('../assets/aleo-regular-webfont.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Aleo';
    src: url('../assets/aleo-bold-webfont.woff') format('woff'), url('../assets/aleo-bold-webfont.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Aleo';
    src: url('../assets/aleo-bolditalic-webfont.woff') format('woff'), url('../assets/aleo-bolditalic-webfont.ttf') format('truetype');
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: 'Aleo';
    src: url('../assets/aleo-italic-webfont.woff') format('woff'), url('../assets/aleo-italic-webfont.ttf') format('truetype');
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: 'Aleo';
    src: url('../assets/aleo-light-webfont.woff') format('woff'), url('../assets/aleo-light-webfont.ttf') format('truetype');
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'Aleo';
    src: url('../assets/aleo-lightitalic-webfont.woff') format('woff'), url('../assets/aleo-lightitalic-webfont.ttf') format('truetype');
    font-style: italic;
    font-weight: 100;
}

@font-face {
    font-family: 'Faune';
    src: url('../assets/faune.text-regular.ttf') format('truetype'), url('../assets/faune.text-regular.otf') format('opentype');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Faune';
    src: url('../assets/faune.text-italic.ttf') format('truetype'), url('../assets/faune.text-italic.otf') format('opentype');
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: 'Faune';
    src: url('../assets/faune.text-bold.ttf') format('truetype'), url('../assets/faune.text-bold.otf') format('opentype');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Faune';
    src: url('../assets/faune.display-thin.ttf') format('truetype'), url('../assets/faune.display-thin.otf') format('opentype');
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'Faune';
    src: url('../assets/faune.display-bold-italic.ttf') format('truetype'), url('../assets/faune.display-bold-italic.otf') format('opentype');
    font-style: italic;
    font-weight: 700;
}