@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin font-header {
  font-family: $primary-font;
  font-size: 7.1rem;
  letter-spacing: 0.3rem;

  @include respond(tab-port) {
    font-size: 7.8rem;
  }

  @include respond(tight) {
    font-size: 5.7rem;
  }
}

@mixin font-header-secondary {
  font-family: $primary-font;
  font-size: 5rem;
  letter-spacing: 0.2rem;
}

@mixin font-lg {
  font-family: $primary-font;
  font-size: 3rem;
  letter-spacing: 0.1rem;
}

@mixin font-big {
  font-family: $primary-font;
  font-size: 2.3rem;
  letter-spacing: 0.1rem;
}

@mixin font-md {
  font-family: $primary-font;
  font-size: 2rem;
  letter-spacing: 0.1rem;
}

@mixin font-sm {
  font-family: $primary-font;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
}

@mixin font-xs {
  font-family: $primary-font;
  font-size: 1.7rem;
  letter-spacing: 0.1rem;

  @include respond(phone) {
    letter-spacing: 0.05rem;
  }
}

/*
- tight 460
- phone +560
- sub-header-break +758
- tab-port +900px
- title-break +1000
- poststamp-break +1145
- tab-land +1200px
- img-break +1415px
- desktop-lg 1661+px
*/
@mixin respond($breakpoint) {
  @if $breakpoint == tight {
    @media (max-width: 28.75em) {
      @content;
    }
  }

  @if $breakpoint == phone {
    @media (max-width: 35em) {
      @content;
    }
  }

  @if $breakpoint == sub-header-break {
    @media (max-width: 47.375em) {
      @content;
    }
  }

  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      @content;
    }
  }

  @if $breakpoint == title-break {
    @media (max-width: 62.5em) {
      @content;
    }
  }

  @if $breakpoint == poststamp-break {
    @media (max-width: 71.56em) {
      @content;
    }
  }

  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == img-break {
    @media (max-width: 93.125em) {
      @content;
    }
  }

  @if $breakpoint == desktop-lg {
    @media (min-width: 106.25em) {
      @content;
    }
  }
}
