$gutter-vertical: 5rem;
$gutter-horizontal: 10rem;
$grid-columns: 12;

//255, 94, 121
//112, 139, 255
//94, 191, 255
$color-primary-light: rgb(65, 162, 253);
$color-primary: rgb(112, 139, 255);
$color-primary-dark: rgb(40, 43, 255);

$color-secondary-dark: rgb(163, 163, 163);
$color-secondary: rgb(204, 204, 204);
$color-secondary-light: rgb(233, 233, 233);

$color-black: #000;
$color-white: #fff;

$header-font-size: 10rem;